/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.slide-animate .ng-enter,
.slide-animate .ng-leave {
  -webkit-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}
.slide-animate .ng-enter {
  left: 100%;
}
.slide-animate .ng-enter.ng-enter-active {
  left: 0;
}
.slide-animate .ng-leave {
  left: 0;
}
.slide-animate .ng-leave.ng-leave-active {
  left: -100%;
}
.fx-grow {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.fx-grow:hover,
.fx-grow:focus,
.fx-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Bob */
@-webkit-keyframes fx-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes fx-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes fx-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes fx-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.fx-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.fx-bob:hover,
.fx-bob:focus,
.fx-bob:active {
  -webkit-animation-name: fx-bob-float, fx-bob;
  animation-name: fx-bob-float, fx-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@font-face {
  font-family: "circular";
  src: url("../fonts/circular-pro-font.woff") format('woff');
}
@font-face {
  font-family: "circular";
  src: url("../fonts/circular-pro-font-bold.woff") format('woff');
  font-weight: bold;
}
.horizontal-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.horizontal-container .inner-layout-container {
  display: table;
  table-layout: fixed;
  overflow: auto;
  height: 100%;
}
.horizontal-container .inner-layout-container article {
  min-width: 100px;
  width: 100px;
  height: 100%;
  display: table-cell;
  background: #e3e3e3;
  vertical-align: middle;
  text-align: center;
}
.player {
  width: 100%;
  height: 100%;
}
body {
  font-family: circular;
}
.background-section-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.background-section-container .background-image {
  height: 100%;
}
.app-content-section-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.launcher-section-container {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 5%;
  left: 0;
  z-index: 100;
}
.launcher-section-container .horizontal-container {
  padding-top: 10px;
}
.launcher-section-container article {
  transition: all 300ms linear;
}
.launcher-section-container article:hover span.icon,
.launcher-section-container article:focus span.icon,
.launcher-section-container article:active span.icon {
  font-size: 4em;
}
.launcher-section-container span.title {
  display: block;
  margin-top: 10px;
}
html,
body {
  height: 100%;
}
.page-header img {
  display: block;
  margin: auto;
  width: 400px;
}
